/* src/pages/Explore.module.css */

.main {
  margin-left: 240px;
  font-family: 'Poppins', sans-serif;
  background-color: #121212;
  color: #f5f5f5;
  min-height: 100vh;
}

.container {
  padding: 1rem 2rem;
}

/* Section Titles */
.featuredCreators,
.categories,
.trendingProjects,
.newCreators {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

/* Cards */
.creatorCard,
.category,
.projectCard {
  width: 11rem;
  height: 16rem;
  background-color: #121212;
  margin: 0.75rem 0.75rem;
  border-radius: 10px;
  font-weight: 500;
  color: #f0f0f0;
  transition: background 0.3s ease, transform 0.2s ease;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.05);
  text-align: center;
}

.creatorCard:hover,
.category:hover,
.projectCard:hover {
  background-color: #2a2a2a;
  transform: translateY(-2px);
  cursor: pointer;
}

/* Optional: Add a subtle border or accent color to differentiate sections */
.featuredCreators h2,
.categories h2,
.trendingProjects h2,
.newCreators h2 {
  border-left: 4px solid #bb86fc;
  padding-left: 10px;
  margin-bottom: 1rem;
}

.creatorCard img {
  margin-top: 0.5rem;
  width: 10rem;
  height: 10rem;
  border-radius: 10px;
}

.categories img {
  margin-top: 0.5rem;
  width: 10rem;
  height: 10rem;
  border-radius: 10px;
}

.cardBtn {
  width: 3rem;
  height: 1.5rem;
  background-color: white;
  color: black;
  border-radius: 0.5rem;
}

@media (max-width: 768px) {
  .main {
    margin-left: 0;
    overflow-x: hidden;
  }

  .container {
    padding: 1rem;
  }

  .featuredCreators,
  .categories,
  .trendingProjects,
  .newCreators {
    flex-direction: row;
    align-items: center;
  }

  .creatorCard,
  .category,
  .projectCard {
    width: 150px;
    height: 150px;
    margin: 1rem;
    padding: 1rem;
    margin-bottom: 6rem;
  }

  .creatorCard img,
  .categories img {
    width: 60px;
    height: 60px;
  }

  .cardBtn {
    width: 100%;
    height: 2rem;
    margin-top: 0.5rem;
  }

  .featuredCreators h2,
  .categories h2,
  .trendingProjects h2,
  .newCreators h2 {
    font-size: 1.1rem;
    width: 100%;
    text-align: left;
  }
}
